.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  width: 90%;
  max-width: 1110px;
}
.not-found-image {
  height: 200px;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .not-found-image {
    height: 300px;
    width: 450px;
  }
}
.not-found-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #334155;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 32px;
    line-height: 48px;
  }
}

.not-found-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #475569;
}
@media screen and (min-width: 768px) {
  .not-found-description {
    font-size: 20px;
    line-height: 32px;
  }
}
.go-back-to-home-btn {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .go-back-to-home-btn {
    padding: 12px 24px;
  }
}
.go-back-home-link {
  text-decoration: none;
}
